.desktop-displaynone {
  margin: 0px;
  display: none;
}
.fas,
input {
  display: none;
}
.header {
  height: 22vh;
}
body {
  background-color: #172832;
}
.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin: 50px;
}
.about-info {
  background-color: #f0f1f1;
  padding: 20px;
  border-radius: 10px;
}
.about-large-text {
  text-align: center;
  color: #f0f1f1;
  margin-bottom: 20px;
  font-size: 2vw;
}
.about-images {
  width: 10vw;
}

.img-high {
  margin-bottom: 20px;
}
@media only screen and (max-width: 866px) {
  nav,
  .mobile-displaynone {
    display: none;
  }
  .fas {
    display: block;

    padding: 10px 0px 20px 40px;
  }
  .desktop-displaynone {
    display: block;
  }
  nav {
    background: none;
  }
  .header {
    height: auto;
  }

  nav ul li {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px 100px 0px;
    background-color: #172832;
    text-decoration: none;
    border-radius: 40px;
  }
  a {
    color: #fcca46;
    text-decoration: none;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
  }
  #hamburger-menu {
    display: none;
  }
  label,
  input {
    display: block;
    color: white;
  }
  h1 {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 0.26094187675070024) 15%,
      rgba(0, 0, 0, 0.6923144257703081) 78%
    );
  }
}
