.header {
  max-width: 100%;
  height: 22vh;
  background-image: url(/images/header.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 5%,
    rgba(0, 0, 0, 0.26094187675070024) 15%,
    rgba(0, 0, 0, 0.6923144257703081) 78%
  );
}
nav ul li {
  display: inline-block;
  margin: 10px 50px;
}

a {
  color: #f0f1f1;
  font-size: 1.5rem;
  font-family: bahnschrift;
  text-decoration: none;
}
.logo {
  font-size: 2.2rem;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  color: #f0f1f1;
  font-family: bahnschrift;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background-color: #243f4e;
  color: #f0f1f1;
  padding-top: 10px;
}

.footer_small-text {
  font-size: 0.8rem;
}
.footer_large-text {
  font-size: 1rem;
}

.copyright {
  font-size: 1.2em;
}

label,
input {
  display: none;
}
.fas {
  padding: 10px 0px 20px 40px;
}
.desktop-displaynone {
  margin: 0px;
  display: none;
}
.nav-hover {
  display: inline-block;
  position: relative;
}

.nav-hover::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-hover:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.flex {
  display: flex;
}

@media only screen and (max-width: 1200px) {
  nav ul li {
    margin: 10px 30px;
  }
}

@media only screen and (max-width: 1040px) {
  .navbar {
    margin: 0px auto 0px auto;
  }
  nav {
    flex-direction: column;
  }
}

@media only screen and (max-width: 700px) {
  nav {
    background: none;
  }
  .header {
    height: auto;
  }
  nav ul li {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px 100px 0px;
    border-radius: 10px;
  }
  .nav-contact {
    padding-bottom: 20px;
  }
  nav ul li a {
    font-size: 2rem;
  }

  nav ul li,
  .nav-hover {
    display: block;
  }
  .nav-hover::after {
    display: none;
  }
  a {
    color: white;
    text-decoration: none;
  }

  #hamburger-menu:checked ~ nav {
    display: block;
  }
  #hamburger-menu {
    display: none;
  }

  .logo {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 0.26094187675070024) 15%,
      rgba(0, 0, 0, 0.6923144257703081) 78%
    );
  }
  label,
  input {
    display: block;
    color: white;
  }
  nav,
  .mobile-displaynone {
    display: none;
  }
  .desktop-displaynone {
    display: block;
  }
  footer {
    flex-direction: column;
  }
  .footer_small-text,
  .copyright {
    margin-bottom: 10px;
  }
}
