.hamburger-menu {
  display: none;
}
.container-1 {
  background-color: #cad3f3;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 20px 70px;
  gap: 50px;
}
.big_text {
  font-family: bahnschrift, sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
}

.img {
  width: 100%;
  border-radius: 10px;
}
.img_higher {
  margin-top: 30px;
}
.info {
  text-align: center;
  background-color: #cad3f3;
  font-size: 25px;
  padding: 20px 200px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.container-1_button {
  background-color: rgba(23, 40, 50, 0.85);
  font-size: 29px;
  position: absolute;
  padding: 10px 53px;
  bottom: 65px;
  left: 0px;
  width: 100%;
}
.container-1_button:hover,
.container-3_button:hover {
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 23px 18px rgba(0, 0, 0, 0.59);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 23px 18px rgba(0, 0, 0, 0.59);
}
.home-explore {
  position: relative;
}

/* container-2 */
h3 {
  color: #fcca46;
  font-size: 3vw;
  font-family: bahnschrift, sans-serif;
  background-color: #172832;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 20px;
}
.container-2_img {
  max-width: 15vw;
  padding-bottom: 40px;
  margin-left: 100px;
  grid-column: span 2;
}

.container-2 {
  background-color: #172832;
  padding: 0px 70px;
  padding-bottom: 20px;
}
.container-2_content {
  background-color: rgba(218, 218, 218, 16%);
  margin-bottom: 20px;
  border-radius: 10px;
}
.container-2_content_no-margin {
  margin-bottom: 0px;
}
.container-2_big-text {
  font-family: bahnschrift, sans-serif;
  font-size: 2vw;
  text-decoration: underline;
  text-align: center;
  color: #f0f1f1;
  padding-top: 10px;
  padding-bottom: 10px;
}
.container-2_text_image {
  color: #f0f1f1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.container-2_info {
  font-size: 1.2vw;
  padding: 20px 50px 0px 50px;
  font-family: "tahoma";
  max-width: 1600px;
  grid-column: span 4;
}
/* container-3 */
h4 {
  font-family: bahnschrift, sans-serif;
  text-align: center;
  font-size: 60px;
  color: #f0f1f1;
}
.container-3_section {
  display: flex;
}
.container-3_info {
  text-align: left;
  font-size: 20px;
  padding: 20px 50px 0px 50px;
  font-family: "tahoma";
  color: black;
}
.container-3_content {
  background-color: #f0f1f1;
  margin: 30px 30px;
  border-radius: 20px;
  padding-bottom: 40px;
}
.container-3_big-text {
  font-family: bahnschrift, sans-serif;
  font-size: 50px;
  text-align: center;
}
.container-3 {
  background-color: #223743;
  text-align: center;
  padding-bottom: 40px;
}
.container-3_button {
  padding: 10px 30px;
  font-size: 40px;
}
label, input {
  display: none;
}

@media only screen and (max-width: 1200px) {
  h2, h3, h4 {
    font-size: 7vw;
  }

  .container-3_section {
    display: block;
  }
  .container-2_text_image {
    display: block;
  }

  .container-2 {
    text-align: center;
    padding: 0px 20px
  }
  .container-2_img {
    margin-left: 0px;
    max-width: 50vw;
    margin-top: 20px;
  }
  .container-2_info {
    font-size: 2.5vw;
  }
  .container-2_big-text {
    font-size: 3vw;
}

@media only screen and (max-width: 795px) {
  nav {
    display: none;
  }
  nav {
    background: none;

  }
  .header {
    height: 50vh;
  }
  nav ul li {
    display: block;
    text-align: center;
    padding: 15px;
  }
  
  h1 { margin: 0px;
  }
  #hamburger-menu:checked ~ nav  {
    display: block;
  }
  #hamburger-menu {
    display: none;
  }
  label, input {
    display: block;
    color: white;
  }


  
  h2 {
    display: none;
  }
  h1 {
    font-size: 6vw;
  }
  h4 {
    padding-top: 10px;
  }
  
  .container-1 {
    display: block;
    padding: 10px 40px;
  }
  .info {
    padding: 20px 50px;
    font-size: 4.5vw;
  }
  .container-2_info {
    font-size: 4.5vw;
  }
  .container-2 {
    padding-bottom: 20px;
  }
  .container-2_big-text {
    font-size: 5vw;
  }
  .container-3_info {
    font-size: 4.5vw;
  }
  .container-3_big-text {
    font-size: 7vw;
    padding-top: 10px;
  }
  .big_text {
    margin-bottom: 5px;
  }
  .img_higher {
    margin-top: 0px;
  }
  .img {
    max-width: 100%;
  }
  .footer {
    display: block;
    margin: 0px 0px;
  }
  .footer_content {
    padding: 10px 20px;
  }
  .cookies {
    padding: 0px 100px;
  }
}